@layer theme {
  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --md-sys-color-primary: rgb(155 203 251);
      --md-sys-color-surface-tint: rgb(155 203 251);
      --md-sys-color-on-primary: rgb(0 51 83);
      --md-sys-color-primary-container: rgb(15 74 115);
      --md-sys-color-on-primary-container: rgb(206 229 255);
      --md-sys-color-secondary: rgb(185 200 218);
      --md-sys-color-on-secondary: rgb(36 50 64);
      --md-sys-color-secondary-container: rgb(58 72 87);
      --md-sys-color-on-secondary-container: rgb(213 228 247);
      --md-sys-color-tertiary: rgb(211 191 230);
      --md-sys-color-on-tertiary: rgb(57 42 73);
      --md-sys-color-tertiary-container: rgb(80 64 97);
      --md-sys-color-on-tertiary-container: rgb(239 219 255);
      --md-sys-color-error: rgb(255 180 171);
      --md-sys-color-on-error: rgb(105 0 5);
      --md-sys-color-error-container: rgb(147 0 10);
      --md-sys-color-on-error-container: rgb(255 218 214);
      --md-sys-color-background: rgb(16 20 24);
      --md-sys-color-on-background: rgb(224 226 232);
      --md-sys-color-surface: rgb(16 20 24);
      --md-sys-color-on-surface: rgb(224 226 232);
      --md-sys-color-surface-variant: rgb(66 71 78);
      --md-sys-color-on-surface-variant: rgb(194 199 207);
      --md-sys-color-outline: rgb(140 145 152);
      --md-sys-color-outline-variant: rgb(66 71 78);
      --md-sys-color-shadow: rgb(0 0 0);
      --md-sys-color-scrim: rgb(0 0 0);
      --md-sys-color-inverse-surface: rgb(224 226 232);
      --md-sys-color-inverse-on-surface: rgb(45 49 53);
      --md-sys-color-inverse-primary: rgb(48 98 140);
      --md-sys-color-primary-fixed: rgb(206 229 255);
      --md-sys-color-on-primary-fixed: rgb(0 29 51);
      --md-sys-color-primary-fixed-dim: rgb(155 203 251);
      --md-sys-color-on-primary-fixed-variant: rgb(15 74 115);
      --md-sys-color-secondary-fixed: rgb(213 228 247);
      --md-sys-color-on-secondary-fixed: rgb(14 29 42);
      --md-sys-color-secondary-fixed-dim: rgb(185 200 218);
      --md-sys-color-on-secondary-fixed-variant: rgb(58 72 87);
      --md-sys-color-tertiary-fixed: rgb(239 219 255);
      --md-sys-color-on-tertiary-fixed: rgb(35 21 51);
      --md-sys-color-tertiary-fixed-dim: rgb(211 191 230);
      --md-sys-color-on-tertiary-fixed-variant: rgb(80 64 97);
      --md-sys-color-surface-dim: rgb(16 20 24);
      --md-sys-color-surface-bright: rgb(54 57 62);
      --md-sys-color-surface-container-lowest: rgb(11 15 18);
      --md-sys-color-surface-container-low: rgb(24 28 32);
      --md-sys-color-surface-container: rgb(28 32 36);
      --md-sys-color-surface-container-high: rgb(39 42 47);
      --md-sys-color-surface-container-highest: rgb(50 53 57);
    }
  }
}
